@font-face {
  font-weight: 400;
  font-family: Muller;
  src: url("../fonts/MullerRegular.ttf");
}

@font-face {
  font-weight: 300;
  font-family: Muller;
  src: url("../fonts/MullerBlack.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Muller;
  src: url("../fonts/MullerBold.ttf");
}

@font-face {
  font-weight: 800;
  font-family: Muller;
  src: url("../fonts/MullerExtraBold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Muller, sans-serif;
  font-weight: 400;
  font-size: 1em; // берём за основу размер по умолчанию - 16px
  line-height: 1.5;
  color: $basic;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  background-color: $main;
}

.preload * {
  transition: none !important;
}

.container {
  width: 71%; // дабы не указывать отступы, указываем сразу размер контейнера относительно ширины body и отцентровываем его по центру
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  @include font(2.70em, 800, 1.6);
}

.btn {
  display: inline-block;
  width: max-content;
  text-decoration: none;
  padding: 1.375em 3.31rem;
  background-color: $orange;
  border: none;
  color: $dark;
  cursor: pointer;

  @include font(1em, 700, 1);

  &:hover {
    background-color: $orange-hover;
  }
}